*
{
    margin: 0;
    padding: 0;
}

html
{
    background-image: linear-gradient(to bottom, #ffffff, #e0a88d);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #454545;
    padding-left: 10%;
    padding-right: 10%;
    will-change: transform;
    justify-content: center;
}

section:nth-child(odd)
{
    /* justify-content: flex-end; */
}

.uk-card {
    backdrop-filter: blur(6px);
}

#mainTitle {
    display: flex;
}

#aboutMe {
    display: flex;
}

#projects {
    display: block;
}


#footer 
{
    padding-top:0px;
    color: white !important;
}